<!DOCTYPE html>
<html>
<head>
	<title>Página Principal</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<center>
		<img src="<%=autor.foto%>">
		<h1><%=autor.nome%></h1>
	</center>
</body>
</html>